
.raleway-body {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.inter-logo,.get-in-touch {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
body{

  background-color: rgba(245, 248, 255, 1);
}
.header{
  background-image: url(../Assets/Hero-bg.png);
  
}
main{
  /* max-width: 1140px; */
  margin: 0 auto;
}

nav{
  display: flex;
  justify-content: space-between;
  margin: 0px 150px ;
 }

h3{
  color: #4E47FF;
  font-size:34px ;
font-weight: 900;
}
.btn-primary{
  background-color: #4E47FF;
  border: none;
border-radius: 10px;
color: white;
padding:12px 36px ;
font-size: 16px;

}
/* banner styles */
.banner{
  margin: 230px 300px;
  /* max-width: 1440px; */
  *margin: 0px;

}
.banner-content{
  text-align: center;
  font-size: 65px;
  font-weight: 700;}

/* action styles */
  .action{
    display: flex;
    margin: 140px 68px;
    gap: 220px;
    /* max-width: 1140px; */
    justify-content: space-around;
  }
  .action-title{
  font-weight: bold;
  font-size: 42px;

  }
  .action-description{
    color:#252432;
    font-size: 24px;
    font-weight: 400px;
    /* text-align: center; */
  }
  .action img{
    border-radius: 70px;
  }

  /* user-styles */
  .user{
border-radius: 24px;
background-color:rgba(78, 71, 255, 0.1);
/* max-width: 1140px; */
text-align: center;
padding:50px 142px;
align-items: center;
margin: 140px;

  }
  .user-items{
    display: flex;
    justify-content: space-around;
  }
  .user-description{
font-weight: 400;
font-size: 20px;
color: rgba(0, 0, 0, 0.5);


  }
.user-title{
color: #4E47FF;
font-size: 80px;
font-weight: bold;

}  
/* get in touch styles */

.get-in-touch{
display: flex;
/* text-align: center; */
padding: ;
gap: 115px;
justify-content: space-between;
/* background-color: rgba(214, 221, 237, 1); */
margin: 1449px 150px;
}


.get-in-touch-title{

font-size: 97px;
font-weight: bold;


}
.get-in-touch-coloumn{
  gap: 10px;
}
.get-in-touch input[type="text"],.get-in-touch input[type="email"],.get-in-touch textarea{
    height: 64px;
    border-radius: 10px;
    background-color:white
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border:rgba(214, 221, 237, 1);
    gap: 10px;
    
    
}
  .submit{
    width: 497px;
  }

  /* footer styles */

  footer{
    text-align: center;
    /* display: flex; */
    margin: 104px 574px;
  }
  .footer-items{
    display: flex;
    justify-content: space-around;}
  .footer-title{
font-size: 100px;
font-weight: 900;
  }



footer p a,.footer-description {
    text-decoration: none;
    /* font-size: 20px; */
    color: #8987A1;
}